<div class="wrapper">
  <h1>JetBrains Context Menu Creator</h1>
  <h2>Add <strong>Open folder as ...</strong> project and <strong>Edit with ...</strong> for JetBrains apps in context menu.</h2>

  <mat-form-field class="width-25vw">
    <mat-label>Base JetBrains Path</mat-label>
    <input matInput placeholder="Ex. C:\Software\" [(ngModel)]="basePath" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of listInputPath" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="fill" class="width-25vw">
    <mat-label>Choose JetBrains App</mat-label>
    <mat-select [(ngModel)]="jbApp">
      <mat-option class="select-option" *ngFor="let item of list" [value]="item">
        <img class="select-image" src="/assets/images/{{ item.logo }}.svg" alt="{{ item.logo }}.svg" title="{{ item.name }}"/>{{ item.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="width-25vw">
    <mat-label>Build Version</mat-label>
    <input matInput placeholder="Ex. 223.8214.64" [(ngModel)]="buildVersion">
  </mat-form-field>

  <mat-slide-toggle color="primary" [(ngModel)]="is64bits">Is 64 bits ?</mat-slide-toggle>

  <br><br>

  <button mat-raised-button color="primary" (click)="getGeneratedCode()">Generate .reg</button>

  <br><br>

  <div *ngIf="code || code.length" class="code-wrapper">
    <p>{{ code }}</p>
  </div>

  <br>

  <div>

    <button
      mat-raised-button
      color="accent"
      (click)="copyCode()"
      class="mx-1vw"
      [attr.disabled]="code && code.length > 0 ? null : 'disabled'"
      *ngIf="code || code.length"
    >
      Copy Code
    </button>

    <button
      mat-raised-button
      color="primary"
      (click)="downloadFile()"
      class="mx-1vw"
      [attr.disabled]="code && code.length > 0 ? null : 'disabled'"
      *ngIf="code || code.length"
    >
      Download .reg
    </button>

  </div>

</div>
